In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("movie.csv", index_col = "movieId")
df

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
131254,Kein Bund für's Leben (2007),Comedy
131256,"Feuer, Eis & Dosenbier (2002)",Comedy
131258,The Pirates (2014),Adventure
131260,Rentun Ruusu (2001),(no genres listed)
131262,Innocence (2014),Adventure|Fantasy|Horror

In [9]:
df["year"] = df["title"].str[-5:-1]
df["title"] = df["title"].str[:-7]
df

,title,genres,year
movieId,,,
1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
2,Jumanji,Adventure|Children|Fantasy,1995
3,Grumpier Old Men,Comedy|Romance,1995
4,Waiting to Exhale,Comedy|Drama|Romance,1995
5,Father of the Bride Part II,Comedy,1995
...,...,...,...
131254,Kein Bund für's Leben,Comedy,2007
131256,"Feuer, Eis & Dosenbier",Comedy,2002
131258,The Pirates,Adventure,2014
131260,Rentun Ruusu,(no genres listed),2001
131262,Innocence,Adventure|Fantasy|Horror,2014

In [10]:
df.to_csv("movies_year.csv")